{% extends 'base.html.twig' %}

{% block title %}Modifier mont mot de passe{% endblock %}

{% block content %}
    <h1> Modifier mont mot de passe </h1>

    - <a href="{{ path('account') }}">Retourner à mon compte</a>
    <hr>
    {% if notification %}
        <div class="alert alert-info">{{ notification }}</div>
    {% endif %}
    {{ form(form)
        <hr>
{% endblock %}
