{% extends 'base.html.twig' %}

{% block carousel %}{% endblock %}

{% block content %}
	<!-- Three columns of text below the carousel -->
	<div class="row">
		<div class="col-lg-4">
			<img class="rounded-circle" width="200" height="200" src="/assets/images/heading1.jpg" alt="">
			<h2>Top qualité</h2>
			<p>Nous nous efforçons de vous offrir la meilleure qualité sur le marché</p>
			<p>
				<a class="btn btn-secondary" href="#" role="button">View details &raquo;</a>
			</p>
		</div>
		<!-- /.col-lg-4 -->
		<div class="col-lg-4">
			<img class="rounded-circle" width="200" height="200" src="/assets/images/heading2.jpg" alt="">
			<h2>Livraison offerte</h2>
			<p>La livraison en point relais est GRATUITE! Sans minimum d'achat.</p>
			<p>
				<a class="btn btn-secondary" href="#" role="button">View details &raquo;</a>
			</p>
		</div>
		<!-- /.col-lg-4 -->
		<div class="col-lg-4">
			<img class="rounded-circle" width="200" height="200" src="/assets/images/heading3.jpg" alt="">
			<h2>Paiement 3x
			</h2>
			<p>Vous avez la possibilité d'échelonner votre paiement en plusieurs fois.</p>
			<p>
				<a class="btn btn-secondary" href="#" role="button">View details &raquo;</a>
			</p>
		</div>
		<!-- /.col-lg-4 -->
	</div>
	<!-- /.row -->


	<!-- START THE FEATURETTES -->

	<hr class="featurette-divider">

	<div class="row featurette">
		<div class="col-md-7">
			<h2 class="featurette-heading">First featurette heading.
				<span class="text-muted">It’ll blow your mind.</span>
			</h2>
			<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
		</div>
		<div class="col-md-5">
			<img src="/assets/images/feature1.jpg" alt="">
		</div>
	</div>

	<hr class="featurette-divider">

	<div class="row featurette">
		<div class="col-md-7 order-md-2">
			<h2 class="featurette-heading">Oh yeah, it’s that good.
				<span class="text-muted">See for yourself.</span>
			</h2>
			<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
		</div>
		<div class="col-md-5 order-md-1">
			<img src="/assets/images/feature2.jpg" alt="">
		</div>
	</div>

	<hr class="featurette-divider">

	<div class="row featurette">
		<div class="col-md-7">
			<h2 class="featurette-heading">And lastly, this one.
				<span class="text-muted">Checkmate.</span>
			</h2>
			<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
		</div>
		<div class="col-md-5">
			<img src="/assets/images/feature3.jpg" alt="">
		</div>
	</div>

	<hr
	class="featurette-divider">

<!-- /END THE FEATURETTES -->

{% endblock %}
